@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-green: #B6F36B;
    --color-orange: #FF9B61;
    --bg-app: #222531;
    --bg-panel: #323645;
    --bg-chip: #232633;
    --text-main: #FFFFFF;
    --text-muted: #9096A8;

    --radius-lg: 1.5vh;
    --radius-md: 0.6rem;
    --radius-sm: 0.4rem;

    --gap-sm: 0.5rem;
    --gap-md: 1rem;
    --gap-lg: 1.5rem;
}

/* ===== reset all page ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-app);
    color: var(--text-main);
    font-family: "Inter", sans-serif;
    display: flex;
    gap: 10px;
}

a {
    color: var(--text-main);
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    opacity: 0.08;
    margin: 20px 0;
}

/* ========================= */
/* ========== Sidebare header Menu and humbergur icon ======= */
.sidebar {
    width: 100px;
    height: 95vh;
    background-color: var(--bg-panel);
    margin: 18px;
    border-radius: var(--radius-lg);
    padding: 15px;
    transition: width 0.4s ease;
}

.sidebar:not(:hover) .list-item a p {
    opacity: 0;
    width: 0;
}

.sidebar:not(:hover) .list-item a {
    gap: 3px;
}

.sidebar:not(:hover) .sidebar-header h3 {
    opacity: 0;
    width: 0;
}

.sidebar:not(:hover) {
    text-align: center;
    font-size: 25px;
}

.sidebar:not(:hover) .add-list-button a p {
    opacity: 0;
    width: 0;
}

.sidebar:not(:hover) .add-list-button a i {
    width: 100%;
    font-size: 20px;
}

.sidebar:not(:hover) .sidebar-header a {
    width: 100%;
}


.sidebar:hover {
    width: 300px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

.sidebar-header a i {
    font-size: 22px;
}

/* ==================== */
/* ===== Sidebare List section ===  */
.list-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    box-sizing: border-box;
    padding: 7px 10px;
}

.list-item a p {
    width: 75%;
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 300;
    transition: 0.3s;
}

.list-item a span {
    background-color: var(--bg-app);
    padding: 0 8px;
    border-radius: var(--radius-sm);
    width: 2rem;
    text-align: center;
}

.list-item {
    transition: 0.3s;
}

.list-item:hover {
    background-color: var(--text-muted);
    border-radius: var(--radius-sm);
}

.lists-list {
    margin-top: 20px;
}

.green-box-list i {
    color: var(--color-green);
}

.orange-box-list i {
    color: var(--color-orange);
}

.add-list-button a p {
    text-align: left;
    width: 90%;
}

.add-list-button a i {
    transition: 0.3s;
}

.lists-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

/* ===================================== */
/* ====== tags section ======= */
.tag-section {
    display: flex;
    flex-direction: column;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 200px;
    gap: 10px;
    margin-top: 10px;
}

.tag-button {
    width: 70px;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    color: var(--bg-app);
    border-radius: var(--radius-sm);
    padding: 5px;
    text-align: center;
    background-color: #B6F36B;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.add-new-tag {
    width: 105px;
    color: var(--text-main);
    background-color: var(--text-muted);
}

.tag-orange {
    background-color: var(--color-orange);
}

/* ======================== */